name: Sync Fork

on:
  schedule:
    - cron: '55 * * * *'
  workflow_dispatch: # on button click

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Merge upstream
        run: |
          git remote add upstream https://github.com/fleetdm/fleet.git
          git fetch upstream main
          git checkout main
          git merge upstream/main
          git push origin main
